<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%actionset_descr"
            id="com.wdev91.eclipse.copyright.actionSet"
            label="%actionset_label"
            visible="true">
         <action
               class="com.wdev91.eclipse.copyright.actions.ApplyCopyrightAction"
               icon="icons/copyright.gif"
               id="com.wdev91.eclipse.copyright.ApplyCopyrightAction"
               label="%actionApply_label"
               menubarPath="project/additions"
               tooltip="%actionApply_tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="com.wdev91.eclipse.copyright.preferences.CopyrightPreferencePage"
            id="com.wdev91.eclipse.copyright.copyrightPreferencePage"
            name="%prefsCopyright_label">
      </page>
      <page
            category="com.wdev91.eclipse.copyright.copyrightPreferencePage"
            class="com.wdev91.eclipse.copyright.preferences.HeadersPreferencePage"
            id="com.wdev91.eclipse.copyright.headerPreferencePage"
            name="%prefsHeader_label">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.wdev91.eclipse.copyright.preferences.ProjectCopyrightPreferencePage"
            id="com.wdev91.eclipse.copyright.projectCopyrightPreferencePage"
            name="%prefsCopyright_label">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.wdev91.eclipse.copyright.Category"
            name="%actionset_label">
      </category>
      <command
            categoryId="com.wdev91.eclipse.copyright.Category"
            defaultHandler="com.wdev91.eclipse.copyright.actions.ApplyCopyrightOnSelectionHandler"
            id="com.wdev91.eclipse.copyright.ApplyCopyrightCommand"
            name="%actionApply_label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.wdev91.eclipse.copyright.ApplyCopyrightCommand"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <and>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                        </adapt>
                        <not>
                           <adapt
                                 type="org.eclipse.core.resources.IProject">
                           </adapt>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
